.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the start of the container */
  min-height: 100vh;
  position: relative; /* Set position to relative */
}

.dashboard-content {
  margin-bottom: 20px;
}
