/* CreateOpportunityModal.css */

.modal-backdrop {
    backdrop-filter: blur(2px); /* Apply blur effect to the backdrop */
  }
  
  .custom-opp-modal {
    width: 700px; /* Set the width of the modal */
    height: 400px; /* Set the height of the modal */
    margin-left: 100px; /* Center the modal horizontally */
    top: 50%; /* Position the modal at the vertical center */
    transform: translateY(-50%); /* Adjust the position to center vertically */
  }
  