.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(155, 155, 155, 0.579); 
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
  }


  
  .modal {
    background-color: #fef7e5; /* Light yellow background */
    padding: 50px;
    border-radius: 10px; /* Increased border-radius for a softer look */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3); /* Shadow for depth */
    max-width: 600px; 
    width: 90%;
    max-height: 500px;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: #2f234f; /* Dark purple color */
    font-size: 24px; /* Increase the font size */
    font-weight: bold; /* Make the text bold */
    padding: 0; /* Remove padding */
    width: 30px; /* Adjust width */
    height: 30px; /* Adjust height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .close-btn:hover {
    color: #432c62; /* Darker shade of purple on hover */
  }
  
  
  .google-btn {
    background-color: #4285f4; /* Google blue color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Spacing between inputs and button */
  }
  
  .google-btn:hover {
    background-color: #3c78dc; /* Darker shade of blue on hover */
  }
  
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px; /* Spacing between inputs */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

  
  /* Optional: Placeholder color */
  input[type="text"]::placeholder,
  input[type="password"]::placeholder {
    color: #999;
  }

  .submit-btn {
    background-color: #2f234f; /* Dark purple color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px; /* Rounded border */
    cursor: pointer;
    margin-top: 10px;
  }
  
  .submit-btn:hover {
    background-color: #432c62; /* Darker shade of purple on hover */
  }
  
  .or-text {
    color: #2f234f; /* Dark purple color */
    margin: 10px 0;
    text-align: center;
  }
  