.navbar {
    height: 80px;
    /* background-color: #fef7e5; */
    background-color: white;
    position: relative;
}

.logo {
    margin-right: auto;
    margin-left: 20px;
    margin-top: 10px;
    background-color: #fef7e5;
    width: 60px;
    border-radius: 15px;
    height: 60px;
    align-content: center;
}

.logo p{
    padding: 10px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    /* align-items: ; */
    height: 100%;
}

.nav-links {
    list-style-type: none;
    display: flex;
    border-radius: 15px;
    /* height: 2px; */
    background-color: #fef7e5;
    align-items: center;
    justify-content: flex-end; /* Align links to the right */
    margin: 10px; /* Remove default margin */
    padding: 30px; /* Remove default padding */
}

.nav-links li {
    margin: 20px;
}

.nav-links a {
    color: #2f234f;
    text-decoration: none;
    padding: 2px;
    margin: 2px
}
